

.logo {
 
 margin: 0px 0 0 200px;

}
.nav{
    font-family: "Montserrat", sans-serif;
 }
.logo_h2{
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    margin:10px 0 0 180px ;
}
.header {
  display: flex;
  padding: 30px 0;
  background-color: #02f;
  background-image: url("images/header_bg.jpg");
  background-repeat: no-repeat;
  background-position:center 62%;
  background-size: cover;
  border-bottom: 5px solid #050202;
}
ul {
    
    list-style-type: none;
    display: flex;

    flex-flow: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
ul li a {
    text-transform: uppercase;
text-decoration: none;
color:#FFFFFF ;

    padding: 10px 20px; 

}
ul li a:hover {
    background: #000;
    color: #fff;
    transition: .5s
}
.div_1{ 

  padding: 300px;
  background-image: url("images/bg1.jpg");
  display: flex;
  background-repeat: no-repeat;
  background-position:center 62%;
  background-size: cover;
  border-bottom: 5px solid #050202;
}

.h1 {
    text-shadow: 2px 2px 2px #000;
    font-size: 25pt;
    font-weight: 600;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  position  : absolute;
    top     : 300px;
    left        : 30px;
    width       : 100%;
}
.h11    {
    text-shadow: 2px 2px 2px #000;
    font-size: 25pt;
    font-weight: 600;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
  position  : absolute;
    top     : 350px;
    left        : 30px;
    width       : 100%;

}
.cssSlider {
    
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.cssSlider .slides {
    overflow: hidden;
    overflow: hidden;
    width: 100%;
    height: 70vmin;
    margin: 0;
    padding: 0;
    list-style: none;
}
.cssSlider .slides > li {
    width: 100%;
    height: 70vmin;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}
.cssSlider .slides > li > img {
    width: 100%;
    height: auto;
}
/*
.cssSlider .slides > li:first-child:not(:target) {
    z-index: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
}
*/
.cssSlider .thumbnails {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
}
.cssSlider .thumbnails > li {
    float: left;
    width: 20%;
}
.cssSlider .thumbnails > li > a {
    display: block;
}
.cssSlider .thumbnails > li > a > img {
    width: 100%;
    height: auto;
}

.cssSlider .slides li:target {
    z-index: 3;
    -webkit-animation: slide 1s 1;
}
.cssSlider .slides li:not(:target) {
    -webkit-animation: hidden 1s 1;
}
@-webkit-keyframes slide {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
}
@keyframes slide {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
}
@-webkit-keyframes hidden {
    0% {
        z-index: 2;
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    100% {
        z-index: 2;
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
}
@keyframes hidden {
    0% {
        z-index: 2;
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    100% {
        z-index: 2;
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
}
.obr{
    padding: 200px;
    font-size: 20pt;
    background-color: #fdf9f6;
    font-family: "Montserrat", sans-serif;
    border-bottom: 5px solid #050202;

}
.bottom{
    color: #282828;
    background-color: #FFE4E1;
    display: flex;
    padding: 70px;
    font-family: "Montserrat", sans-serif;
}
.logo_bottom{
    margin-left: 25px;
    margin-top:2px ;
}

.bot_h2{
    margin-left: 50px;
    margin-top: 2;
    text-align: center;
}

