{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Биология</title>
    <link rel="stylesheet" href="{% static 'style_bio.css' %}">
</head>
<body>
    <div class="gl" >
     <header class="header">
        <div>
        <img class="logo" src="{% static 'images/logo.jpg' %}">
        </div>
        <nav><ul>
			<li><a href="/">Главная</a></li>
			<li><a href="/lesson">Предметы</a></li>
			<li><a href="/contact">Обратная связь</a></li>
            </ul>
        </nav>
        </header>
        </div> 
    <div class="info">
            <h1>Биология</h1>
            <h2>Биоло́гия  — наука о живых существах и их взаимодействии со средой обитания. Изучает все аспекты жизни, в частности: структуру, функционирование, рост, происхождение, эволюцию и распределение живых организмов на Земле. Классифицирует и описывает живые существа, происхождение их видов, взаимодействие между собой и с окружающей средой.

Как самостоятельная наука биология выделилась из естественных наук в XIX веке, когда учёные обнаружили, что все живые организмы обладают некоторыми общими свойствами и признаками, в совокупности не характерными для неживой природы. Термин «биология» был введён независимо несколькими авторами: Фридрихом Бурдахом в 1800 году, Готфридом Рейнхольдом Тревиранусом и Жаном Батистом Ламарком в 1802 году.</h2>
            
            </div>
            
        
</body>
</html>