{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Английский язык</title>
    <link rel="stylesheet" href="{% static 'style_eng.css' %}">
</head>
<body>
    <div class="gl" >
     <header class="header">
        <div>
        <img class="logo" src="{% static 'images/logo.jpg' %}">
        </div>
        <nav><ul>
			<li><a href="/">Главная</a></li>
			<li><a href="/lesson">Предметы</a></li>
			<li><a href="/contact">Обратная связь</a></li>
            </ul>
        </nav>
        </header>
        </div> 
    <div class="info">
            <h1>Английский язык</h1>
            <h2>Англи́йский язык — язык англо-фризской подгруппы западной группы германской ветви индоевропейской языковой семьи. Английский язык — важнейший международный язык, что является следствием колониальной политики Британской империи в XIX и первой половине XX века, а также мирового влияния Соединённых Штатов Америки в XX—XXI веках. Является одним из наиболее распространённых языков в мире. Существует значительное разнообразие диалектов и говоров английского языка.

Английский язык возник в раннем Средневековье как потомок англосаксонского языка, на котором говорили англосаксы. Он стал родным для большинства населения Великобритании, а с территориальным ростом Британской империи распространился в Азию, Африку, Северную Америку и Австралию. После обретения независимости британскими колониями английский язык остался либо родным языком большей части населения (США, Канада, Австралия, Новая Зеландия), либо одним из официальных языков (Индия, Нигерия). Английский язык изучают в образовательных учреждениях многих стран как иностранный.</h2>
            
            </div>
            
        
</body>
</html>