{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Физика</title>
    <link rel="stylesheet" href="{% static 'style_fis.css' %}">
</head>
<body>
    <div class="gl" >
     <header class="header">
        <div>
        <img class="logo" src="{% static 'images/logo.jpg' %}">
        </div>
        <nav><ul>
			<li><a href="/">Главная</a></li>
			<li><a href="/lesson">Предметы</a></li>
			<li><a href="/contact">Обратная связь</a></li>
            </ul>
        </nav>
        </header>
        </div> 
    <div class="info">
            <h1>Физика</h1>
            <h2>Фи́зика  — область естествознания: наука о наиболее общих законах природы, о материи, её структуре, движении и правилах трансформации. Понятия физики и её законы лежат в основе всего естествознания. Является точной наукой.

Термин «физика» впервые фигурирует в сочинениях одного из величайших мыслителей древности — Аристотеля (IV век до нашей эры). Первоначально термины «физика» и «философия» были синонимами, так как в основе обеих дисциплин лежало стремление объяснить законы функционирования Вселенной. Однако в результате научной революции XVI века физика развилась в самостоятельную научную отрасль.

В современном мире значение физики чрезвычайно велико. Всё то, чем отличается современное общество от общества прошлых веков, появилось в результате применения на практике физических открытий. Так, исследования в области электромагнетизма привели к появлению телефонов и позже мобильных телефонов, открытия в термодинамике позволили создать автомобиль, развитие электроники привело к появлению компьютеров. Развитие фотоники способно дать возможность создать принципиально новые — фотонные — компьютеры и другую фотонную технику, которые сменят существующую электронную технику. Развитие газодинамики привело к появлению самолётов и вертолётов.</h2>
            
            </div>
            
        
</body>
</html>