{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>REPETITOR</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
	
</head>
<body>
	<div class="gl">
	 <header class="header">
		<div>
		<img class="logo" src="{% static 'images/logo.jpg' %}">
		</div>
		<nav><ul>
			<li><a href="">Главная</a></li>
			<li><a href="/lesson">Предметы</a></li>
			<li><a href="/contact">Обратная связь</a></li>
			</ul>
		</nav>
	 </header>
	</div>
	<div class="mane">
		<h1>Онлайн школа REPETITOR.ru дает возможность легко и быстро изучить школьные предметы</h1>
		<h2>С каждым годом количество предметов увеличивается. За год  мы собрали специалистов по основным 6 предметам. Занятия проходят в Discord и Zoom.</h2>
		
	</div>

	
</body>
</html>