{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Обратная связь</title>
	<link rel="stylesheet" href="{% static 'style_obr.css' %}">
</head>
<body>
	<div class="gl" >
	 <header class="header">
		<div>
		<img class="logo" src="{% static 'images/logo.jpg' %}">
		</div>
		<nav><ul>
			<li><a href="/">Главная</a></li>
			<li><a href="/lesson">Предметы</a></li>
			<li><a href="/contact">Обратная связь</a></li>
			</ul>
		</nav>
		</header>
		</div> 
		<div class="obr" id="obr1">

		<h1 class="h1_obr">Для того чтобы  проконсультировать по выбраным предметам оставьте свое имя и номер телефона</h1>
   			<form  method = "POST">
           		{% csrf_token %}
				<p>Ваше имя: <input name="login"></p>
   				<p><input type="tel" name="phone_number" list="tel-list" placeholder="+7 (900) 123-45-67" ></p>
   				<p><input type="submit" value="Отправить"></p>
			</form>
	    </div>
	
</body>
</html>