{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Русский язык</title>
    <link rel="stylesheet" href="{% static 'style_rus.css' %}">
</head>
<body>
    <div class="gl" >
     <header class="header">
        <div>
        <img class="logo" src="{% static 'images/logo.jpg' %}">
        </div>
        <nav><ul>
			<li><a href="/">Главная</a></li>
			<li><a href="/lesson">Предметы</a></li>
			<li><a href="/contact">Обратная связь</a></li>
            </ul>
        </nav>
        </header>
        </div> 
    <div class="info">
            <h1>Русский язык</h1>
            <h2>Ру́сский язы́к  — язык восточнославянской группы славянской ветви индоевропейской языковой семьи, национальный язык русского народа. Является одним из наиболее распространённых языков мира — шестым среди всех языков мира по общей численности говорящих и восьмым по численности владеющих им как родным. Русский является также самым распространённым славянским языком и самым распространённым языком в Европе — географически и по числу носителей языка как родного.

Русский язык — государственный язык Российской Федерации, один из двух государственных языков Белоруссии, один из официальных языков Казахстана, Киргизии и некоторых других стран, основной язык международного общения в Центральной Евразии, в Восточной Европе, в странах бывшего Советского Союза, один из шести рабочих языков ООН, ЮНЕСКО и других международных организаций.

Число владеющих русским языком в России составляет 137,5 млн человек (2010). Всего в мире на русском говорят около 260 млн человек (2014)</div>
            
        
</body>
</html>